body {
    margin: 0;
    padding: 0;
    background: gray;
}
section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    width: 50%;
    margin: 2em auto;
    text-align: center;
}
.blue {
    background: lightblue;
}
.white {
    background: white;
}
#output {
    font-size: 5em;
    text-align: center;
}